!!! 5

:javascript

  function intersection(a, b)
  {
    return a.filter(function(n) {
        if(b.indexOf(n) == -1)
            return false;
        return true;
    });  
  }

  function get_common_friends()
  {
    commenters = JSON.parse($("#commenters").html());
    common_friends = null;
    for (var i in commenters)
    {
      if (!$("#checkbox_"+commenters[i].name).is(":checked"))
        continue;

      if (common_friends==null)
        common_friends = commenters[i].friends;

      if ( (common_friends!=null) && (commenters[i].friends!=null) )
      {
        console.log(commenters[i].name+"'s friends: "+(commenters[i].friends==null?"null":commenters[i].friends.toString())+"\n");
        common_friends = intersection(common_friends.sort(),commenters[i].friends.sort());
        console.log("common_friends: "+common_friends.toString());
      }
    }
    $("#suspects").text(common_friends.toString());
  }

- if (!@plurk_json.nil?) && (!@plurk_json.empty?)
  %div{style:"border-bottom:1px solid gray"}
    %strong
      Plurk ##{@plurk_id.to_s}:
    =@plurk_json["plurk"]["content_raw"]
    %div{style:"padding:10px"}
      %strong
        Commentators:
      - if (@commenters.nil? || @commenters.empty?)
        n/a
      - else
        - @commenters.each do |c|
          - if c["friends"].nil?
            %input{type:"checkbox",id:"checkbox_"+c["name"],disabled:"disabled"}
          - else
            %input{type:"checkbox",checked:"checked",id:"checkbox_"+c["name"],onclick:"get_common_friends();"}
          =c["name"]
    %div{style:"padding:10px"}
      %strong
        Suspects:
      %span{id:"suspects"}
        = (@common_friends.nil? || @common_friends.empty?) ? "n/a" : @common_friends.inspect

%br
%strong
  Investigation of common friends:

%pre
  =@results


%form{method:"POST",action:"/deanonymize"}

  %span{style: (@plurk_id.to_s.to_i(36) > 0 ? "display:none" : "")}
    Plurk id (base36):
    %input{name:"plurk_id",value:@plurk_id}
    (anonymous plurk's link contains plurk id, e.g. for link "http://www.plurk.com/p/i1234" plurk id is "i1234")
  %textarea{name:"commenters",id:"commenters",style:"display:none"}
    =( (@commenters.nil? || @commenters.empty?) ? "" : JSON.pretty_generate(@commenters) )
  %textarea{id:"plurk_json",name:"plurk_json",style:"display:none"}
    =( (@plurk_json.nil? || @plurk_json.empty?) ? "" : JSON.pretty_generate(@plurk_json) )
  %input{name:"token",type:"hidden",value:@access_token[:token]}
  %input{name:"secret",type:"hidden",value:@access_token[:secret]}

  %br
  Press
  %input{type:"submit",value:"Continue"}
  to continue or 
  %a{href:"/deanonymize?token=#{@access_token[:token]}&secret=#{@access_token[:secret]}"}
    Reset
  to start over.