!!! 5
%html
  %head
    %script{:charset => "utf-8", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js", :type => "text/javascript"}
  %body
    %h1 Plurk de-anonymizer
    = yield
  %hr
  %small
    Author:
    %a{href:"http://www.plurk.com/arsenische"}
      arsenische
    \.
    Donate bitcoins to: 1DWZvXQnjeymNKLUqQ2DCqgRp7SVqwDCuW.
    Source code is available at
    %a{href:"https://github.com/arsenische/plurk_deanonymizer"}
      GitHub
    \.
    %br
    Thanks to 
    %a{href:"http://www.plurk.com/shadowlamer"}
      Shadowlamer
    who motivated me to deanonymize him and to 
    %a{href:"http://www.plurk.com/doet"}
      Sashazykov
    who helped me with ruby, sinatra & heroku.

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2973328-16']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
